footer {
    background-color: #3B215B;
}

.footerNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;

}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialMedia {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    img {
        margin-left: 20px;
        margin-top: 5px;
    }
    p {
        text-align: center;
        color: white;
        margin-left: 220px;
        font-size: 24px;
    }
}