.footerNav {
    display: flex;
    flex-direction: column;
    text-align: center;

.footerContent {
    display: flex;
    flex-direction: row;
}

nav {
    color: white;
    background-color: #3B215B;
  
}

a {
    text-decoration: none;
}
}