.Logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
   background-color: white;
   margin-bottom: 10px;

   .sign_up {
       width: 96px;
       height: 96px;
       margin-top: 20px;
       margin-right: 10px;
       cursor: pointer;
   }
}


nav {
    
a{
   color:  #3B215B;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

}

.headerNav {
    display: flex;
    flex-direction: row;
    
   background-color: white;
    justify-content: center;
    width: 100%;
     text-align: center;
     border : 2px solid #3B215B;
}