.Logo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

nav {
    color: white;
    background-color: #3B215B;
  
a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

}

.headerNav {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
}